<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="itg8.com.nowzonedesigndemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".common.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:replace="android:icon">
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".steps.StepsActivity"
            android:label="@string/title_activity_steps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".common.BaseActivity" />
        <activity
            android:name=".sleep.SleepActivity"
            android:label="@string/title_activity_sleep"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".audio.AudioActivity"
            android:label="@string/title_activity_audio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sanning.ScanDeviceActivity"
            android:label="@string/title_activity_scan"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".connection.BleService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".breath.BreathHistoryActivity"
            android:label="@string/title_activity_breath_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alarm.AlarmActivity"
            android:label="@string/title_activity_alarm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.AlarmSettingActivity"
            android:label="@string/title_activity_alarm_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        android:name=".setting.SettingActivity"
        android:label="@string/title_activity_setting"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".steps.StepGoalActivity"
            android:label="@string/title_activity_step_goal"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".notification.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_NZ_DATA_AVAIL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".setting.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_ALARM_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".setting.notification.AlarmNotification"
            android:label="@string/title_activity_alarm_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home.StepMovingActivity"
            android:label="@string/title_activity_step_moving"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".breath.BreathHistoryListActivity"
            android:label="@string/title_activity_breath_history_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>