<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itg8.com.nowzonedesigndemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".steps.StepsActivity"
            android:label="@string/title_activity_steps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sleep.SleepActivity"
            android:label="@string/title_activity_sleep"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".audio.AudioActivity"
            android:label="@string/title_activity_audio"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>